
{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Chill Com</h1>
    <h2>This analyzes your face to determine the current mood.</h2>
    <form action='/analyze/info/' method='post' class="form" enctype="multipart/form-data">
        {% csrf_token %}
        <input type='file' name='pic' accept='image/*' id='pic' class="custom-file-input">
        <input type='submit' class="button">
    </form>
    <button type="button" onclick="location.href='/analyze/history'" class="button">History</button>
{% endblock content %}
