{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="mainBody">
  <div id="landingBox">
    <a href="{% url 'animation' %}"><img class="hvr-grow" style="border-radius: 15px;" id="landingpic"
    src="{% static "img/Untitled-1.jpg"%}"> </a></div> <div id="box">
    <div id="label">
      <br>
      <div id="animation">
        <a href="{% url 'index' %}"><img class="hvr-grow" id="anxiouspic" src="{% static "img/pic1.jpg"%}"></a>
        <a href="{% url 'chat' %}"><img class="hvr-grow" id="anxiouspic" src="{% static "img/pic2.jpg"%}"></a>
        <a href="{% url 'music_playlist' %}"><img class="hvr-grow" id="anxiouspic" src="{% static "img/pic3.jpg"%}" </a></div> </div> </div> <div id="box">
        <div id="label">
          
          <div id="animation">
            <img class="hvr-grow" id="talkpic" src="{% static "img/pic4.jpg"%}"> </div>
        </div>
      </div>
      <div id="box">
        <div id="label">
          
        </div>
          </div>       
</body>
{% endblock content %}