{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="mainBody">
  <div id="landingBox">
    <img class="hvr-grow" id="landingpic" src=https://dummyimage.com/1079x355/b5b5b5.jpg> </div> <div id="box">
    <div id="label">
      jhlkj
      <div id="animation">
        <img class="hvr-grow" id="anxiouspic" src=https://dummyimage.com/330x220/000/fff> <img class="hvr-grow" id="anxiouspic" src=https://dummyimage.com/330x220/000/fff> <img class="hvr-grow" id="anxiouspic" src=https://dummyimage.com/330x220/000/fff> </div> </div> </div> <div id="box">
        <div id="label">
          jhlkj
          <div id="animation">
            <img class="hvr-grow" id="talkpic" src=https://dummyimage.com/1040x220/000/fff href="animation.html"> </div>
        </div>
      </div>
      <div id="box">
        <div id="label">
          jhlkj
          <div id="animation">
            <img class="hvr-grow" id="talkpic" src=https://dummyimage.com/1040x220/000/fff> </div> </div> </div> <div id="quotesContainer">
          </div>


          
</body>
{% endblock content %}