.navbar {
  background: #ccc;
  overflow: hidden;
}
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar li a {
  float: left;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  color: #333;
}
.navbar li a:hover {
  background-color: #999;
  color: #fff;
}

body {
  background-color: rgba(112, 112, 112, 0.5);
}
.dropbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropup-content a:hover {
  background-color: #ccc;
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980b9;
}

#youtube {
  position: absolute;
  width: 560px; /* you have to have a size or this method doesn't work */
  height: 315px; /* think about making these max-width instead - might give you some more responsiveness */

  position: absolute; /* positions out of the flow, but according to the nearest parent */
  top: 0;
  right: 0; /* confuse it i guess */
  bottom: 0;
  left: 0;
  margin: auto; /* make em equal */
}

.grid-container {
  display: grid;
}

.big_text {
  grid-area: big_text;
}

.embed {
  grid-area: embed;
  width: 800px;
  height: 600px;
}
.note {
  grid-area: note;
}

.grid-container {
  grid-template-areas:
    "big_text big_text big_text big_text"
    "note embed embed note"
    "note note note note";
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
